<% if users.exists? %>
  <% users.each do |user| %>
    <table class="table table-striped table-bordered text-center ml-3">
      <thead>
        <tr>
          <th></th>
          <th>ニックネーム</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-middle p-2">
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image(100, 100) %>
            <% end %>
          </td>
          <td class="align-middle p-2"><%= user.name %></td>
          <td class="align-middle p-2">フォロー数: <%= user.followings.count %></td>
          <td class="align-middle p-2">フォロワー数: <%= user.followers.count %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p class="h4 ml-3">ユーザーはいません</p>
<% end %>