<div class="container">
  <div class="row">
    <%= render 'public/users/sidebar', user: current_user %>
    <div class="col-9">
      <div class="h3 ml-3 my-3">ジャンル追加</div>
        <%= form_with model: @genre, url: genres_path, method: :post do |f| %>
          <div class="form_group ml-3">
            <strong><%= f.label :name, 'ジャンル名' %></strong>
            <%= f.text_field :name, placeholder: "ジャンル名" %>
            <%= f.submit '新規登録', class: "btn btn-success" %>
          </div>
        <% end %>
      <div class="h3 ml-3 my-3">ジャンル一覧</div>
      <table class="table ml-3">
        <thead>
          <tr>
            <th>ジャンル名</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td>
              <%= link_to "編集する", edit_genre_path(genre.id), class: "btn btn-success" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
