<div class="container">
  <div class="row">
    <%= render 'public/users/sidebar', user: current_user %>
    <div class="col-9">
      <div class="h3 ml-3 my-3">レビュー編集</div>
      <%= form_with model: @review, url: item_review_path(@review.item_id, @review.id), method: :patch do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <th class="text-center"><%= f.label :star, "星評価" %></th>
              <td><div id='post_raty'></div></td>
                <script>
                  var elem = document.getElementById('post_raty');
                  var opt = {
                      starOff: '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      score: <%= @review.star %>,
                      scoreName: 'review[star]',
                      half: true,
                    };
                    raty(elem,opt);
                </script>
            </tr>
            <tr>
              <th class="text-center"><%= f.label :comment, "コメント" %></th>
              <td><%= f.text_area :comment %></td>
            </tr>
            <tr>
              <th></th>
              <td><%= f.submit "再投稿", class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>