<div class="container">
  <div class="row">
    <%= render 'public/users/sidebar', user: current_user %>
    <div class="col-9">
      <% if flash[:notice] %>
        <div class="p-2 alert alert-warning">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="h3 ml-3 my-3">新規レビュー投稿</div>
      <div class="h5 ml-3">アイテム情報</div>
      <table class="table text-center ml-3">
        <thead>
          <tr>
            <th>画像</th>
            <th>商品名</th>
            <th>メーカー</th>
            <th>ジャンル</th>
            <th>タグ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle p-2">
              <%= image_tag @item.get_item_image(75, 75) %>
            </td>
            <td class="align-middle p-2"><%= @item.name %></td>
            <td class="align-middle p-2"><%= @item.maker.name %></td>
            <td class="align-middle p-2"><%= @item.genre.name %></td>
            <td class="align-middle p-2"><%= @item.tags.map(&:name).join(', ') %></td>
          </tr>
        </tbody>
      </table>
      <div class="ml-3">
        <% if @review.errors.any? %>
          <%= @review.errors.count %>件のエラーが発生しました
          <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model: @review, url: item_reviews_path, method: :post do |f| %>
        <% f.hidden_field :user_id, value: current_user.id %>
        <table class="table">
          <tbody>
            <tr>
              <th class="text-center"><%= f.label :star, "星評価" %></th>
              <td><div id='post_raty'></div></td>
              <script>
                var elem = document.getElementById('post_raty');
                var opt = {
                    starOff: '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    scoreName: 'review[star]',
                    half: true,
                  };
                  raty(elem,opt);
              </script>
            </tr>
            <tr>
              <th class="text-center"><%= f.label :comment, "コメント" %></th>
              <td><%= f.text_area :comment %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-center"><%= f.submit "投稿する", class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
