<div class="container">
  <div class="row">
    <%= render 'public/users/sidebar', user: @user %>
    <div class="col-md-9">
      <h1>アイテム情報</h1>
      <%= image_tag @item.get_item_image(300,300) %>
      <table>
        <tbody>
          <tr>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td><%= @item.maker.name %></td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td><%= @item.tags.map(&:name).join(', ') %></td>
          </tr>
          <tr>
            <td>
              <% if @item.bookmarked_by?(current_user) %>
                <%= link_to "持ってる", item_bookmarks_path(@item), method: :delete, class: "btn btn-info" %>
              <% else %>
                <%= link_to "持っていない", item_bookmarks_path(@item), method: :post, class: "btn btn-warning" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= @item.introduction %></td>
          </tr>
        </tbody>
      </table>
      <h1>レビュー詳細</h1>
      <table>
        <tbody>
            <tr>
              <td><%= image_tag @review.user.get_profile_image(100,100) %></td>
              <td><%= @review.user.name %></td>
              <% if @review.user == current_user %>
                <td>
                  <%= link_to "編集", edit_item_review_path(@review.item_id, @review.id), class: "btn btn-warning" %>
                </td>
                <td>
                  <%= link_to "削除", item_review_path(@review.item_id, @review.id), method: :delete, data: {confirm: '削除してもいいですか？'}, class: "btn btn-danger" %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td id='post_raty_<%= @review.id %>'></td>
                <script>
                  var elem = document.getElementById('post_raty_<%= @review.id %>');
                  var opt = {
                    size : 36,
                    starOff: '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    score: <%= @review.star %>,
                    readOnly: true,
                    half: true,
                   };
                  raty(elem,opt);
                </script>
              <td><%= @review.comment %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>