<div class="container">
  <div class="row">
    <%= render 'public/users/sidebar', user: current_user %>
    <div class="col-9">
      <div class="h5 ml-3">アイテム情報</div>
      <table class="table text-center ml-3">
        <thead>
          <tr>
            <th>画像</th>
            <th>商品名</th>
            <th>メーカー</th>
            <th>ジャンル</th>
            <th>タグ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle p-2">
              <%= image_tag @item.get_item_image(75, 75) %>
            </td>
            <td class="align-middle p-2"><%= @item.name %></td>
            <td class="align-middle p-2"><%= @item.maker.name %></td>
            <td class="align-middle p-2"><%= @item.genre.name %></td>
            <td class="align-middle p-2"><%= @item.tags.map(&:name).join(', ') %></td>
          </tr>
        </tbody>
      </table>
      <div class="h3 ml-3 my-3">レビュー詳細</div>
      <table class="table ml-3">
        <tbody>
            <tr>
              <td><%= image_tag @review.user.get_profile_image(100,100) %></td>
              <td class="align-middle"><%= @review.user.name %></td>
              <% if @review.user == current_user %>
                <td class="align-middle">
                  <%= link_to "編集", edit_item_review_path(@review.item_id, @review.id), class: "btn btn-warning" %>
                </td>
                <td class="align-middle">
                  <%= link_to "削除", item_review_path(@review.item_id, @review.id), method: :delete, data: {confirm: '削除してもいいですか？'}, class: "btn btn-danger" %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td colspan="4" id='post_raty_<%= @review.id %>'></td>
                <script>
                  var elem = document.getElementById('post_raty_<%= @review.id %>');
                  var opt = {
                    size : 36,
                    starOff: '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    score: <%= @review.star %>,
                    readOnly: true,
                    half: true,
                   };
                  raty(elem,opt);
                </script>
            </tr>
            <tr>
              <td colspan="4"><%= @review.comment %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>