<div class="col-3" style="background-image: url(<%= asset_path('sidebar.jpg') %>); background-size: contain;">
  <% if user_signed_in? %>
    <div class="text-center my-5" style="width: auto;"><%= image_tag user.get_profile_image(200,200) %></div>
    <div class="text-center" style="width: auto;"><%= user.name %></div>
    <div class="text-center" style="width: auto;"><%= user.sex %></div>
    <div class="text-center" style="width: auto;"><%= user.height %>cm</div>
    <div class="d-flex justify-content-around my-3">
      <div>
        <%= link_to user_followings_path(user.id), class: "btn btn-info" do %>
          フォロー:<%= user.followings.count %>
        <% end %>
      </div>
      <div>
        <%= link_to user_followers_path(user.id), class: "btn btn-info" do %>
          フォロワー:<%= user.followers.count %>
        <% end %>
      </div>
    </div>
    <div class="text-center my-3" style="width: auto;">
      <%= link_to users_bookmarks_path(user.id), class: "btn btn-info w-100" do %>
        持ってる一覧:<%= user.bookmarks.count %>件
      <% end %>
    </div>
    <div class="text-center my-3" style="width: auto;">
      <%= link_to "ユーザー情報編集", users_information_edit_path(user.id), class: "btn btn-warning w-100" %>
    </div>
    <div class="text-center my-3" style="width: auto;">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-danger w-100' %>
    </div>
  <% else %>
    <div class="text-center my-5">
      <p class="lead">
        <strong>climb_i</strong>は、<br>
        クライミングをより身近に<br>
        より楽しくする<br>
        レビューサイトです。
      </p>
    </div>
    <div class="m-auto">
      <div class="my-3">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary w-100" %>
      </div>
      <div>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-success w-100" %>
      </div>
    </div>
  <% end %>
</div>