<div class="col-md-3">
  <h2>
    <%= link_to "logo", root_path %>
  </h2>
  <% if user_signed_in? %>
    <div><%= image_tag user.get_profile_image(100,100) %></div>
    <div><%= user.name %></div>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <div>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>