<div class="container">
  <div class="row">
    <%= render 'public/users/sidebar', user: @user %>
    <div class="col-md-9">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>ニックネーム</th>
            <th>性別</th>
            <th>身長</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image(100, 100) %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td><%= user.sex %></td>
              <td><%= user.height %></td>
              <td>フォロー数: <%= user.followings.count %></td>
              <td>フォロワー数: <%= user.followers.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>