<div class="container">
  <div class="row">
    <%= render 'public/users/sidebar', user: current_user %>
    <div class="col-9">
      <% if flash[:notice] %>
        <div class="p-2 alert alert-warning">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="h3 ml-3 my-3">アイテム編集</div>
      <div class="ml-3">
        <% if @item.errors.any? %>
          <%= @item.errors.count %>件のエラーが発生しました
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model: @item, url: item_path, method: :patch do |f| %>
      <table class="table">
        <tbody>
            <tr>
              <th class="text-center"><%= f.label :name, "アイテム名" %></th>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <th class="text-center"><%= f.label :image, "アイテム画像" %></th>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <th class="text-center"><%= f.label :introduction, "アイテム説明文" %></th>
              <td><%= f.text_area :introduction %></td>
            </tr>
            <tr>
              <th class="text-center"><%= f.label :genre_id, "ジャンル" %></th>
              <td><%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "選択して下さい" %></td>
            </tr>
            <tr>
              <th class="text-center"><%= f.label :maker_id, "メーカー" %></th>
              <td><%= f.collection_select :maker_id, @makers, :id, :name, include_blank: "選択して下さい" %></td>
            </tr>
            <tr>
              <th class="text-center"><%= f.label :tag_names, "タグ(,で区切ると複数タグ登録できます)" %></th>
              <td><%= f.text_area :tag_names %></td>
            </tr>
            <tr>
              <td colspan="2">
                <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                 <div class="form-check form-check-inline">
                   <%= tag.label do %>
                     <%= tag.check_box %>
                     <%= tag.text %>
                   <% end %>
                 </div>
                <% end %>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center">
                <%= f.submit "登録する", class: "btn btn-success" %>
              </td>
            </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
