<div class="container">
  <div class="row">
    <%= render 'public/users/sidebar', user: @user %>
    <div class="col-md-9">
      <h1>アイテム一覧</h1>
      <table>
        <thead>
          <tr>
            <th>画像</th>
            <th>商品名</th>
            <th>メーカー</th>
            <th>ジャンル</th>
            <th>タグ</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.get_item_image(100,100) %>
                <% end %>
              </td>
              <td><%= item.name %></td>
              <td><%= item.maker.name %></td>
              <td><%= item.genre.name %></td>
              <td><%= item.tags.map(&:name).join(', ') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>