<h1>新規アイテム登録</h1>
<%= form_with model: @item,url: items_path, method: :post do |f| %>
<table>
  <tbody>
    <tr>
      <td><%= f.label :name, "アイテム名" %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :image, "アイテム画像" %></td>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction, "アイテム説明文" %></td>
      <td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <td><%= f.label :genre_id, "ジャンル" %></td>
      <td><%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "選択して下さい" %></td>
    </tr>
    <tr>
      <td><%= f.label :maker_id, "メーカー" %></td>
      <td><%= f.collection_select :maker_id, @makers, :id, :name, include_blank: "選択して下さい" %></td>
    </tr>
    <tr>
      <%= f.fields_for :tags do |ff| %>
      <td><%= ff.label :name, "タグ(,で区切ると複数タグ登録できます)" %></td>
      <td><%= ff.text_area :name %></td>
      <% end %>
    </tr>
    <%= f.fields_for :reviews do |ff| %>
    <%= ff.hidden_field :user_id, value: current_user.id %>
    <tr>
      <td><%= ff.label :star, "星評価" %></td>
      <td><%= ff.text_area :star %></td>
    </tr>
    <tr>
      <td><%= ff.label :comment, "コメント" %></td>
      <td><%= ff.text_area :comment %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= f.submit "投稿する", class: "btn btn-success" %></td>
    </tr>
  </tbody>
</table>
<% end %>