<h1>メーカー追加・一覧</h1>

<%= form_with model: @maker, url: makers_path, method: :post do |f| %>
  <%= f.label :name, "メーカー名" %>
  <%= f.text_field :name, placeholder: "メーカー名" %>
  <%= f.submit "新規登録", class: "btn btn-success" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>メーカー名</th>
    </tr>
  </thead>
  <tbody>
    <% @makers.each do |maker| %>
    <tr>
      <td><%= maker.name %></td>
      <td>
        <%= link_to "編集する", edit_maker_path(maker.id), class: "btn btn-success" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>